@import "variables"; /* /src/scss/_variables.scss */
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:wght@100..900&display=swap");

// * {
//     margin: 0;
//     padding: 0;
// }

// html, body {
//     width: 100%;
//     height: 100%;
// }

// Header

.navbar-brand {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 25px;
}

.nav-link {
    font-size: 30px;
}

.dropdown-item {
    font-weight: 600;
}



// Main

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

p, label, input, ul {
    font-family: 'Montserrat', sans-serif;
}

// Login and register

#register-login-page, #login-register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

#register-login-page .register-button, #login-container form button, #login-register-page .login-button, #register-container form button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-radius: 5px;
}

#register-login-page .register-button:hover, #login-container form button:hover, #login-register-page .login-button:hover, #register-container form button:hover {
    opacity: 0.8;
}

#login-container, #register-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
}

#login-container form, #register-container form {
    width: 50%;
    // max-width: 500px;
    margin: 0 auto;
}

#login-container form input, #register-container form input{
    width: 100%;
    border-radius: 5px;
}

#login-form label, #register-form label {
    color: $light;
}






// Listings

#submit-new-listing {
    font-weight: 600;
}

#listings-page {
    background-color: $primary;
}

.listing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
    margin: 20px 0px 40px 0px;
    background-color: $success;
    border-radius: 5px;
}

.listing-container h2 {
    color: $danger;
    margin-bottom: 20px;
    font-size: 20px;
}

.listing-image {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.bid-section input {
    // width: 100%;
    padding: 5px;
    margin: 0px 10px 10px 20px;
    float: left;
    border-radius: 5px;
}

.bid-section button {
    padding: 5px 20px;
    margin: 0px 20px 10px 10px;
    float: right;
    border-radius: 5px;
    background-color: $warning;
    text-transform: uppercase;
    color: $light;
    font-weight: 600;
}

.bid-section button:hover {
    opacity: 0.8;
}

.bid-section p {
    margin: 0px 0px 0px 20px;
    // float: left;
    padding: 5px;
}